.Home {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  /*background-color: green;*/
  margin-top: 15px;
  margin-bottom: 15px;
}

.Home-title {
  /*font-size: 1.5em;*/
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
}

.searchBox {
  padding-left: 5px;
}

.buttonBox {
  /*background-color: red;*/
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 5px;
}

.profileBox {
  display: flex;
  flex: 0 1 auto;
}

.profileBox:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.profileBox h2 {
  flex: 0 1 auto;
  align-self: center;
  margin: 0;
  color: grey;
  margin-right: 10px;
}

.profileBox img {  
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 5px;
}

.Home-intro {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: large;
  padding: 1px;
  background-color: #222;
}


.recipeContainer {
  display: flex;
  flex: 1;
  /*background-color: blue;*/
  justify-content: center;
  padding-top: 10px;
  padding-right: 10px;
}

.recipe-header {
  /*display: flex;*/
  /*flex: 1;*/
  /*align-self: flex-start;*/
  padding-left: 10px;
}

.recipe-header h2 {
  font-size: 28px;
  color: white;
}