.body {
	padding-top: 20px;
}

.display-linebreak {
	font-size: 18px;
	font-family: 'Kalam', cursive;
  white-space: pre-line;
  color: white;
}

.imageContainer {
	width: 100%;
	background-color: #FBFAF8;
	height: 390px;	
	overflow: hidden;
}

.imageContainer img {
	display: block;
	width: 50%;
	height: 390px;
	margin: 0 auto;
}

.infoSection {
	padding: 50px;
}

.ingredientSection {
	padding: 20px;
	background-color: #FBFAF8;
}

.recipeHeader {
	text-align: center;
	color: white;
	font-family: 'Shadows Into Light Two', cursive;
}

.textStyle {
	font-size: 28px;
	text-align: center;
	color: white;
	font-family: 'Kalam', cursive;
}

.iHeader {
	font-family: 'Shadows Into Light Two', cursive;
	text-align: left;
	color: #2E2F2F;
}

.tStyles {
	font-size: 18px;
	font-family: 'Shadows Into Light Two', cursive;
	text-align: left;
	color: #2E2F2F;
}

.commentHeader {
	text-align: left;
	color: #2E2F2F;
	font-family: 'Shadows Into Light Two', cursive;
}

.commentSection {
	background-color: #FBFAF8;
	padding: 50px;
	margin-left: 30%;
	margin-right: 10%;
}