body > div {
	height: 100%
}

body > div > div {
	height: 100%
}

body > div > div > div.signup-form {
	height: 100%
}

.app-title {
	color: white;
	text-align: center;

}

.title-container {
    padding-top: 10px;
    /*padding-bottom: 40px;*/
	height: 55px;
	background-color: turquoise;
}
