body > div {
	height: 100%
}

body > div > div {
	height: 100%
}

body > div > div > div.signup-form {
	height: 100%;
	background-color: #2E2F2F;
}

.app-title {
	color: white;
	text-align: center;
}

.title-container {
  padding-top: 10px;
  margin-bottom: 10px;
	height: 55px;
	background-color: turquoise;
}
