.app-title {
	color: white;
	padding-left: 30px;
	text-align: left;
}

.ingredientTextStyle {
	text-align: left;
	color: white;
}

.myRecipesList {
	color: white;
}
.body {
  	white-space: pre-line;
  	color: white;
}

.textStyle {
	text-align: center;
	white-space: pre-line;
	color: white;
}
.title-container {
    padding-top: 10px;
	height: 55px;
	background-color: turquoise;
}

.display-linebreak {
  white-space: pre-line;
  color: white;
}