
.user-profile {
	color: white;
	font-family: Helvetica;
}

.infoSection {
	color: white;
}

.banner-container {
	font-family: Helvetica;
	font-size: 140%;
	font-style: italic;
}

img {
	display: block;
	width: 100%;
	height: 390px;
	margin: 0 auto;
}

.ingredientTextStyle {
	text-align: left;
	color: white;
}

.myRecipesList {
	color: white;
}

.body {
	white-space: pre-line;
	color: white;
}

.info-section-headers {
	text-align: center;
	white-space: pre-line;
	color: white;
	font-family: Helvetica;
}

.display-linebreak {
	white-space: pre-line;
	color: white;
}
.my-info-text {
	color: white;
	font-size: 120%;
	font-family: Helvetica;
}

.activity-feed-text {
	color: white;
	font-size: 120%;
}
.favorite-cards {
	background-color: teal;
	color: white;
}
.new-recipe-addition-container {
	font-family: Helvetica;
	background-color: #222;
	color: white;
}

.forms {
	min-width: 200px;
	max-width: 1000px;
	padding-left: 30px;
	color: white;
	font-size: 120%;
	font-family: Helvetica;
}
.drop-downs {
	min-width: 200px;
	max-width: 800px;
	color: red;
}

.add-favorite-section-headers {
	text-align: left;
	color: white;
	font-family: Helvetica;
	padding-left: 40px;
}

.directions-box {
	min-width: 200px;
	max-width: 2000px;
}